<div class="card my-3 align-items-center">
    <div class="card-header w-100 align-items-center">Fire Filter</div>
    <div class="card-body">
                <form [formGroup]="myForm">      
              
               
                  <h2>Type de véhicule</h2>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="CAR"
                      value="CAR"
                      formControlName="CAR"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">CAR</label>
                  </div>
                    
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="FIRE_ENGINE"
                      value="FIRE_ENGINE"
                      formControlName="FIRE_ENGINE"
                      />
                      <label class="form-check-label" for="flexSwitchCheckDefault">FIRE_ENGINE</label>
                    </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="PUMPER_TRUCK"
                      value="PUMPER_TRUCK"
                      formControlName="PUMPER_TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">PUMPER_TRUCK</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="WATER_TENDER"
                      value="WATER_TENDER"
                      formControlName="WATER_TENDER"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">WATER_TENDER</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="TURNTABLE_LADDER_TRUCK"
                      value="TURNTABLE_LADDER_TRUCK"
                      formControlName="TURNTABLE_LADDER_TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">TURNTABLE_LADDER_TRUCK</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="TRUCK"
                      value="TRUCK"
                      formControlName="TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">TRUCK</label>
                  </div>

             

                  <h2>Type de liquide</h2>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="ALL"
                      value="ALL"
                      formControlName="ALL"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">ALL</label>
                  </div>
                    
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="WATER"
                      value="WATER"
                      formControlName="WATER"
                      />
                      <label class="form-check-label" for="flexSwitchCheckDefault">WATER</label>
                    </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="WATER_WITH_ADDITIVES"
                      value="WATER_WITH_ADDITIVES"
                      formControlName="WATER_WITH_ADDITIVES"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">WATER_WITH_ADDITIVES</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="CARBON_DIOXIDE"
                      value="CARBON_DIOXIDE"
                      formControlName="CARBON_DIOXIDE"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">CARBON_DIOXIDE</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="TURNTABLE_LADDER_TRUCK"
                      value="TURNTABLE_LADDER_TRUCK"
                      formControlName="TURNTABLE_LADDER_TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">TURNTABLE_LADDER_TRUCK</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="POWDER"
                      value="POWDER"
                      formControlName="POWDER"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">POWDER</label>
                  </div>
  
                
  
                </form>
    </div>
  </div>
  