
                <form [formGroup]="myForm">      
              
               
                  <h2>Type de véhicule</h2>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="CAR"
                      value="CAR"
                      formControlName="CAR"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault"><img src="../assets/images/our_car.png" style="height: 20px;"> CAR</label>
                  </div>
                    
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="FIRE_ENGINE"
                      value="FIRE_ENGINE"
                      formControlName="FIRE_ENGINE"
                      />
                      <label class="form-check-label" for="flexSwitchCheckDefault"><img src="../assets/images/our_fire_engine.png" style="height: 20px;"> FIRE_ENGINE</label>
                    </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="PUMPER_TRUCK"
                      value="PUMPER_TRUCK"
                      formControlName="PUMPER_TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault"><img src="../assets/images/our_pumper_truck.png" style="height: 20px;"> PUMPER_TRUCK</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="WATER_TENDER"
                      value="WATER_TENDER"
                      formControlName="WATER_TENDER"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault"><img src="../assets/images/our_water_tender.png" style="height: 20px;"> WATER_TENDER</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="TURNTABLE_LADDER_TRUCK"
                      value="TURNTABLE_LADDER_TRUCK"
                      formControlName="TURNTABLE_LADDER_TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault"><img src="../assets/images/our_turntable_ladder_truck.png" style="height: 20px;"> TURNTABLE_LADDER_TRUCK</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="TRUCK"
                      value="TRUCK"
                      formControlName="TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault"><img src="../assets/images/our_truck.png" style="height: 20px;"> TRUCK</label>
                  </div>

             

                  <h2>Type de liquide</h2>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="ALL"
                      value="ALL"
                      formControlName="ALL"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">ALL</label>
                  </div>
                    
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="WATER"
                      value="WATER"
                      formControlName="WATER"
                      />
                      <label class="form-check-label" for="flexSwitchCheckDefault">WATER</label>
                    </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="WATER_WITH_ADDITIVES"
                      value="WATER_WITH_ADDITIVES"
                      formControlName="WATER_WITH_ADDITIVES"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">WATER_WITH_ADDITIVES</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="CARBON_DIOXIDE"
                      value="CARBON_DIOXIDE"
                      formControlName="CARBON_DIOXIDE"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">CARBON_DIOXIDE</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="TURNTABLE_LADDER_TRUCK"
                      value="TURNTABLE_LADDER_TRUCK"
                      formControlName="TURNTABLE_LADDER_TRUCK"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">TURNTABLE_LADDER_TRUCK</label>
                  </div>
  
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="POWDER"
                      value="POWDER"
                      formControlName="POWDER"
                    />
                    <label class="form-check-label" for="flexSwitchCheckDefault">POWDER</label>
                  </div>
  
                
  
                </form>
  
  