<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Navbar Template</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
      <ul class="nav navbar-nav">
        <li class="nav-item h5" routerLinkActive="active">
          <a class="nav-link" routerLink="map">Map</a>
        </li>
        <li class="nav-item h5" routerLinkActive="active">
          <a class="nav-link" routerLink="vehicule">Vehicule</a>
        </li>
        <li class="nav-item h5" routerLinkActive="active">
          <a class="nav-link" routerLink="vehicules">Liste des véhicules</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
