<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Navbar Template</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <header>
    <nav
      class="navbar navbar-dark bg-dark navbar-expand justify-content-center"
    >
      <a class="navbar-brand" routerLink="map">
        <img
          src="../../assets/images/logo.jpg"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        ThisIsFine
      </a>

      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="map">Map</a>
        <a class="nav-item nav-link" routerLink="vehicule">Vehicule</a>
        <a class="nav-item nav-link" routerLink="vehicules"
          >Liste des véhicules</a
        >
      </div>
    </nav>
  </header>
</body>
